.method-nav-pill > span {
  border-radius: 0.25em;
}
#navigation-items a > div {
  justify-content: space-between;
}
.nav-tag-pill {
  justify-self: end;
  border-radius: 0.25rem;
}
.nav-tag-pill:has([data-nav-tag="Concept"]) {
  background-color: #6366f1;
}
.nav-tag-pill:has([data-nav-tag="Guide"]) {
  background-color: #10b981;
}
